<header>
    <article class="contenedor01">
        <div class="burger-menu">
            <i class="fa-thin fas fa-bars" ></i>
            </div>

        <div class="logo">
            <a href="/index"><img src="/img/logo-OVS.png" alt="Logo OVS" width="150px" height="150px"></a>
        </div>
        <div class="titulo">
            <h3>Original</h3>
            <h3>Vintange</h3>
            <h3> Sportwear</h3>
        </div>
        
                <div class="busqueda2">
                    <input type="text" class="input-busqueda" placeholder="¿Qué camiseta queres?" >
                    <div class="button-lupa">
                        <button type="submit" name="buscar" class="boton-lupa"><i class="fa fa-search"></i></button>  
                    </div> 
                </div>
            
        

        <div class="nav-bar">
            <div class="register">
                <a href="/users/register"><i class="far fa-id-card"></i></a>
                <p>Crear Cuenta</p>
            </div>
            <div class="login">
                <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                <p>Mi Cuenta</p>
            </div>
            <div class="carrito">
                <a href="/productCar"><i class="fas fa-shopping-basket"></i></a>
                <p>Mi Carrito</p>
            </div>
        </div>
    </article>

        <div class="busqueda">
            <form  class="barra-busqueda" action="#" method="GET">
                <div class="caja-barra-lupa">
                    <input type="text" class="input-busqueda" placeholder="¿Qué camiseta queres?" >
                    <button type="submit" name="buscar" class="boton-lupa"><i class="fa fa-search"></i></button>
                    
                </div>
            </form>
        </div>

    <nav class="contenedor02">
        <div class="nav-bar-tipos">
            <ul>
                <li><a href="/selecciones">Selección</a></li>
                <li><a href="/equiposAmericanos">Equipos Americanos</a></li>
                <li><a href="/equiposEuropeos">Equipos Europeos</a></li>
                <li><a href="/restoDelMundo">Resto del Mundo</a></li>
            </ul>
        </div>
    </nav>
</header>