<section class="newsletter">
    <h4>NEWSLETTER</h4>
    <p> ¿Quieres recibir nuestras ofertas?</p>
    <p>¡Registraté ya mismo y empeza a disfrutarlas!</p>
    <input type="email" placeholder="Ingresá tu e-mail" name="email">
    <div class="suscripcion">
        <label for="sucribirme"></label>
        <input type="submit" name="suscribirme" id="suscribirme" value="SUSCRIBIRME">
    </div>
</section>