<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('../partials/head') %>
    </head>
    
    <body>
        <%- include ('../partials/header') %>
    
    <main>
        <h2 class="nosotros-ovs">Acerca de Original Vintage Sportwear</h2>  <br>
        <p class="nosotros">
Original Vintage Sportwear surgió a principios de 2022, con el objetivo de poder brindarle a los fanáticos de las camisetas de fútbol un lugar donde encontrar la mejor cobertura de los lanzamientos de camisetas alrededor del mundo y todo lo relacionado a las últimas novedades de esta pasión tan particular. La idea comenzó como una forma de expresar nuestro fanatismo por el fútbol y acercales esta propuesta a nuestros clientes. <br><br>

<img src="/img/products/nosotros.png" alt="nosotros" class="nosotros-img">

El blog se centra en los últimos estrenos y camisetas vintage de los clubes y selecciones más importantes. Se busca dar relevancia a equipos grandes como otros más desconcidos que podemos destacar a través de sus diseños. <br><br>

Somos un sitio 100% independiente y no recibimos fondos de parte de ninguna marca. Los ingresos generados por ventas en tiendas recomendadas va directo a mantener los costos del blog, proveer premios para nuestros lectores y una pequeña remuneración a los colaboradores que ayudan a mantener el blog actualizado y activo. <br><br>

Gracias por formar parte de Original Vintage Sportwear.

        </p>

        <%- include ('../partials/newsletter') %>
    </main>

        <%- include ('../partials/footer') %>

</body>

</html>