<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('../partials/head') %>
    </head>
    
    <body>
        <%- include ('../partials/header') %>
    
    <main>
        <div class="caja-formulario-creacion">
        <form action="/products/createNew" method="POST" class="form-create" enctype="multipart/form-data">
            <div class="divCreateProduct">
                <div>
                    <h2 class="createProductTitle">Añadir Producto</h2>
                    <ul class="errores"></ul>
                </div>
                <div class="control-registro-name">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" name="product_name" id="productName" placeholder="Nombre de Producto">
                </div>
                <div class="control-registro-description">
                    <label for="description" class="form-label">Descripción del producto:</label>
                    <input type="text" name="description" id="productDescription" placeholder="Descripción de Producto">
                </div>
                <div class="caja-ingreso">
                    <div class="control-registro">
                        <label for="category" class="form-label">Categoria del producto:</label>
                        <div class="seleccion-status">
                            <select name="category_id" id="productCategory">
                                <option value="" disabled selected>- Seleccione una categoria - </option>
                                <% categorias.forEach(category => { %>
                                <option value="<%= category.id %>"><%= category.category_name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="control-registro">
                        <label for="status" class="form-label">Condición de venta:</label>
                        <div class="seleccion-status">
                            <select name="type" id="productConditionSell">
                                <option value="" disabled selected>..</option>
                                <option value="Oferta">Oferta</option>
                                <option value="Destacado">Destacado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="caja-ingreso">
                    <div class="control-registro">
                        <label for="size" class="form-label">Talle del producto:</label>
                        <select name="size" id="productSize">
                            <option value="" disabled selected>..</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="control-registro">
                        <label for="status" class="form-label">Status del producto:</label>
                        <div class="seleccion-status">
                            <select name="status" id="productStatus">
                                <option value="" disabled selected>..</option>
                                <option value="Disponible">Disponible</option>
                                <option value="Agotado">Agotado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="caja-ingreso">
                    <div class="control-registro">
                        <label for="status" class="form-label">Condición del producto:</label>
                        <div class="seleccion-status">
                            <select name="condition" id="productCondition">
                                <option value="" disabled selected>..</option>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-registro" >
                        <label for="price" class="form-label">Precio del producto:</label>
                        <input type="text" name="price" id="productPrice" placeholder="Añadir Precio de Producto">
                    </div>
                </div>

                <div class="control-registro" >
                    <label for="img" class="form-label">Imagen del producto:</label>
                    <input type="file" accept="image/png, image/jpg, image/jpeg" name="image" id="productImage" class="product_imageFile">
                </div>

                <div class="caja-boton-anadir">
                    <button type="submit" class="addProductButton">Agregar producto</button>
                </div>
            </div>        
        </form>
       </div>
    </main>
    <script src="/js/productsCreate.js"></script>
</body>

</html>