<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Original Vintage Sportwear</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <header>
        <article class="contenedor01">
            <div class="burger-menu">
                <i class="fa-thin fas fa-bars" ></i>
                </div>

            <div class="logo">
                <a href="./index"><img src="./img/logo-OVS.png" alt="Logo OVS" width="150px" height="150px"></a>
            </div>
            <div class="titulo">
                <h3>Original</h3>
                <h3>Vintange</h3>
                <h3> Sportwear</h3>
            </div>
            <div class="busqueda2">
                <form  class="barra-busqueda" action="#" method="GET">
                    <div class="caja-barra-lupa">
                        <input type="text" class="input-busqueda" value="¿Qué camiseta queres?" >
                        <button type="submit" name="buscar" class="boton-lupa"><i class="fa fa-search"></i></button>
                        
                    </div>
                </form>
            </div>

            <div class="nav-bar">
                <div class="register">
                    <a href="./register"><i class="far fa-id-card"></i></a>
                    <p>Crear Cuenta</p>
                </div>
                <div class="login">
                    <a href="./login"><i class="fa-solid fa-user"></i></a>
                    <p>Mi Cuenta</p>
                </div>
                <div class="carrito">
                    <a href="./productCar"><i class="fas fa-shopping-basket"></i></a>
                    <p>Mi Carrito</p>
                </div>
            </div>
        </article>

            <div class="busqueda">
                <form  class="barra-busqueda" action="#" method="GET">
                    <div class="caja-barra-lupa">
                        <input type="text" class="input-busqueda" value="¿Qué camiseta queres?" >
                        <button type="submit" name="buscar" class="boton-lupa"><i class="fa fa-search"></i></button>
                        
                    </div>
                </form>
            </div>

        <article class="contenedor02">
            <div class="nav-bar-tipos">
                <ul>
                    <li><a href="./Selecciones">Selección</a></li>
                    <li><a href="./Equipos-Americanos">Equipos Americanos</a></li>
                    <li><a href="./Equipos-Europeos">Equipos Europeos</a></li>
                    <li><a href="./Resto-del-mundo">Resto del Mundo</a></li>
                </ul>
            </div>
        </article>
    </header>
    <main>
        <div class="banner">
            <div class="capa"></div>
                <div class="info">
                    <h1>O V S</h1>
                    <p>"Si le tienes miedo al fracaso, no mereces tener éxito"</p>
                </div>
        </div>
        
        <section class="nuevos-ingresos">
            <h3>Equipos Americanos</h3>
            <section class="articulos-nuevos">
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta futbol shangai fc.jpg" alt="shangai FC" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$11.000,00</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Shangai FC</strong></p>
                    </div> 
                </div>
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta tigres.jpg" alt="Tigres" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$11.000,00</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Tigres</strong></p>
                    </div> 
                </div>
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta manchester city.jpg" alt="ManchesterCity" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$11.000,00</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Manchester City</strong></p>
                    </div> 
                </div>
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta nigeria.jpg" alt="Nigeria" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Nigeria</strong></p>
                    </div> 
                </div>
            
            </section>
        </section>

        <section class="newsletter">
            <h4>NEWSLETTER</h4>
            <p> ¿Quieres recibir nuestras ofertas?</p>
            <p>¡Registraté ya mismo y empeza a disfrutarlas!</p>
            <input type="email" placeholder="Email" name="email">
        </section>

        <footer>
            <div class="caja-footer">
                <div class="Categorias">
                    <h4>Categorias</h4>
                    <ul>
                        <li><a href="./views/Selecciones.html">Selecciones</a></li>
                        <li><a href="./views/Equipos-Americanos.html">Equipos Americanos</a></li>
                        <li><a href="./views/Equipos-Europeos.html">Equipos Europeos</a></li>
                        <li><a href="./views/Resto-del-mundo.html">Resto del mundo</a></li>
                    </ul>
                </div>
    
                <div class="Contactos">
                    <h4>Contactános</h4>
                    <ul>
                        <li><i class="fa-brands fa-whatsapp"></i>+549 11 6498 1524</li>
                        <li><i class="fa-solid fa-phone"></i>+549 15 6498 1524</li>
                        <li><i class="fa-solid fa-envelope"></i>originalvintagesport@gmail.com.ar</li>
                    </ul>
                </div>
                <div class="redes">
                    <h4>Sigamos conectados</h4>
                        <ul class="iconos-redes">
                            <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                </div>
                <div class="formas-de-pago">
                    <h4>Formas de pago</h4>
                    <div class="tarjetas-forma-de-pago">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo lazyloaded" alt="visa" width="32px" height="20px">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo lazyloaded" alt="mastercard" width="32" height="20">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo lazyloaded" alt="amex" width="32" height="20">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo lazyloaded" alt="ar_tarjeta-naranja" width="32" height="20">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo lazyloaded" alt="mercadopago" width="32" height="20">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo lazyloaded" alt="pagofacil" width="32" height="20">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo lazyloaded" alt="rapipago" width="32" height="20">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright <strong>OriginalVintage Sportwear@ 2022 -. </strong>Todos los derechos reservados.</p>
            </div>
        </footer>
</body>

</html>