<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Original Vintage Sportwear</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <header>
        <article class="contenedor01">
            <div class="logo">
                <img src="./img/logo-OVS.png" alt="Logo OVS">
            </div>
            <div class="titulo">
                <h3>Original Vintange Sportwear</h3>
            </div>

            <div class="busqueda">
                <form action="#" method="GET">
                    <input type="text" value="Busquemos">
                    <div class="lupa">
                    <i class="fa fa-search" color="black"></i>
                    </div>
                </form>
            </div>
        
            <div class="nav-bar">
                <ul class="navegador2">
                    <li><a href="./register"><i class="far fa-id-card"></i></a></li>
                    <li><a href="./login"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href=#Miscompras><i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </article>
        <article class="contenedor02">
            <div class="nav-bar-tipos">
                <ul>
                    <li><a href="#">Selección</a></li>
                    <li><a href="#">Equipos Americanos</a></li> 
                    <li><a href="#">Equipos Europeos</a></li>
                    <li><a href="#">Resto del Mundo</a></li>
                </ul>
            </div>
        </article>
    </header>


    <main>
        <div class="carrusel">
            <img src="./img/maradona.jpg" alt="maradona">
        </div>

        <h3>Destacados</h3>

        <h3>Ofertas</h3>

        <section class="newsletter">
            <h5>NEWSLETTER</h5>
            <h6>Recibi todas las Ofertas</h6>
            <p> ¿Quieres recibir nuestras ofertas?</p>
            <p>¡Registraté ya mismo y empeza a disfrutarlas!</p>
            <input type="email" placeholder="Email" name="email">
        </section>

        <footer>
            <div class="Categorias">
                <h4>Categorias</h4>
                <ul>
                    <li>Selecciones</li>
                    <li>Equipos Americanos</li>
                    <li>Equipos Europeos</li>
                    <li>Resto del Mundo</li>
                </ul>
            </div>
    
            <div class="Contactos">
                <h4>Contactános</h4>
                <ul>
                    <li>icono y numero de whassap</li>
                    <li>icono y numero de telefono</li>
                    <li>icono y mail</li>
                </ul>
            </div>
            <div class="redes">
                <h4>Sigamos conectados</h4>
                    <ul>
                        <li>icono instagram</li>
                        <li>icono de face</li>
                        <li>icono de twiter</li>
                    </ul>
            </div>
            <div class="formas-de-pago">
                <h4>Formas de pago</h4>
                <ul>
                    <li>fotos de tarjetas</li>
                    <li>foto de tarjeta</li>
                    <li>foto de tarjeta</li>
                    <li>foto de tarjeta</li>
                </ul>
            </div>
            <div class="copyright">
                <p>copyright OriginalVintage Sportwear@ 2022- Todos los derechos reservados.</p>
            </div>
        </footer>
    </main>
</body>
</html>