<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Original Vintage Sportwear</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://kit.fontawesome.com/83973e8fe1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <article class="contenedor01">
            <div class="logo">
                <img src="static/img/logo-OVS.png" alt="Logo OVS">
            </div>
            <div class="título">
                <h1>Original Vintage Sportwear</h1>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="#">Buscar producto</a></li>
                    <li><a href="#">Ingresar</a></li> 
                    <li><a href="#">Comprar</a></li>
                </ul>
            </div>
        </article>
        <article class="contenedor02">
            <div class="nav-bar-tipos">
                <ul>
                    <li><a href="#">Camisetas Clubs</a></li>
                    <li><a href="#">Camisetas Selección</a></li> 
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </div>
        </article>
    </header>
    <main>
        <div class="carrusel">
            <img src="static/img/maradona.jpg" alt="maradona">
        </div>

    </main>
    <footer>

    </footer>
</body>
</html>