.articulosList{
    margin: 15px;
}

.articuloList{
    width: 100%;
    display:flex;
    background-color: white;
}

.cajaImagenList{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
}
.imagenarticuloList{
    width: 100%;
}

.cajaArticuloList{
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}

.caja2listproducts{
    display: flex;
    justify-content: space-between;
}