<footer>
    <div class="caja-footer">
        <div class="Categorias">
            <h4>Categorias</h4>
            <ul>
                <li><a href="/products">Listado de productos</a></li>
                <li><a href="/Selecciones">Selecciones</a></li>
                <li><a href="/equiposAmericanos">Equipos Americanos</a></li>
                <li><a href="/equiposEuropeos">Equipos Europeos</a></li>
                <li><a href="/restoDelMundo">Resto del Mundo</a></li>
            </ul>
        </div>

        <div class="Contactos">
            <h4>Contactános</h4>
            <ul>
                <li><i class="fa-brands fa-whatsapp"></i>+549 11 6498 1524</li>
                <li><i class="fa-solid fa-phone"></i>+549 15 6498 1524</li>
                <li><i class="fa-solid fa-envelope"></i>originalvintagesport@gmail.com.ar</li>
            </ul>
        </div>
        <div class="redes">
            <h4>Sigamos conectados</h4>
                <ul class="iconos-redes">
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
        </div>
        <div class="formas-de-pago">
            <h4>Formas de pago</h4>
            <div class="tarjetas-forma-de-pago">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo lazyloaded" alt="visa" width="32px" height="20px">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo lazyloaded" alt="mastercard" width="32" height="20">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo lazyloaded" alt="amex" width="32" height="20">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo lazyloaded" alt="ar_tarjeta-naranja" width="32" height="20">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo lazyloaded" alt="mercadopago" width="32" height="20">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo lazyloaded" alt="pagofacil" width="32" height="20">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo lazyloaded" alt="rapipago" width="32" height="20">
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright <strong>OriginalVintage Sportwear@ 2022 -. </strong>Todos los derechos reservados.</p>
    </div>
</footer>