<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('../partials/head') %>
    </head>
    
    <body>
        <%- include ('../partials/header') %>
    
    <main>
        <% if (typeof errors != 'undefined') { %>
            <p style="color:red"> ERROR </p>
            <ul>
                <% for (let i=0; i < errors.length; i++) { %>
                    <li>
                        <%=errors[i].msg%>
                    </li>
                <% } %>
            </ul>
            <%  } %>

      <form action="/login" method="POST" class="create-form">
        <div class="form-bienvenido">
            <p>¡Bienvenidos!</p>
        </div>
        <div class="items-form">
            <label>Email:</label>
            <input type="email" name="email" placeholder="xxxxx@mail.com" class="input">
        </div>
        <div class="items-form">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Contraseña" class="input">
        </div>
        <div class="items-form">
            <input  class="button" type="submit" value='Iniciar Sesión'> 
        </div>
        <div class="olvide-contraseña">
            <a href="#">Olvide mi contraseña</a>
        </div>
        <div class="usuario-nuevo">
            <a href="#">No estoy registrado aún</a>
        </div>

      </form>


    </main>

        <%- include ('../partials/footer') %>

</body>

</html>