<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/header') %>
    
    <main>
        <div class="banner">
            <div class="capa"></div>
                <div class="info">
                    <h1>O V S</h1>
                    <p>"Si le tienes miedo al fracaso, no mereces tener éxito"</p>
                </div>
        </div>
        
        <section class="nuevos-ingresos">
            <h3>Equipos Americanos</h3>
            <section class="articulos-nuevos">
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta futbol shangai fc.jpg" alt="shangai FC" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$11.000,00</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Shangai FC</strong></p>
                    </div> 
                </div>
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta tigres.jpg" alt="Tigres" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$11.000,00</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Tigres</strong></p>
                    </div> 
                </div>
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta manchester city.jpg" alt="ManchesterCity" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$11.000,00</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Manchester City</strong></p>
                    </div> 
                </div>
                <div class="articulo">
                    <img class="imagenarticulo" src="./img/camiseta nigeria.jpg" alt="Nigeria" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="talle">talle disponibles</p>
                        <p class="descripcion"><strong>Nigeria</strong></p>
                    </div> 
                </div>
            
            </section>
        </section>

        <%- include ('../partials/newsletter') %>
    </main>

        <%- include ('../partials/footer') %>

</body>

</html>