<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/header') %>
    
    <main class="main-product-detail">
         <div class="card">
            <div class="imgBox">
                <img src="./img/camiseta-argentina.jpg" alt="camiseta-argentina">
            </div>
            <div class="details">
                <div class="name-product">
                    <h3>
                        Camiseta Selección Argentina <br>
                        <small>Adidas-Titular-AFA</small>
                    </h3>
                </div>
                <div class="description">
                    <h4>Descripción:</h4><br>
                    <p>CAMISETA TITULAR SELECCIÓN ARGENTINA
                        DISEÑADA PARA LOS HINCHAS Y LOS MOMENTOS DE GLORIA. <br>
                        Está confeccionada en tejido suave que mantiene tu cuerpo seco y ofrece un corte ligeramente más holgado que el de la camiseta que usan los jugadores en la cancha. El escudo tejido de la Selección le demuestra a todos lo que sentís por el equipo.</p>
                </div>
                <div class="caja-talle">
                    <div class="size">
                        <h4>Talle</h4>
                    </div>
                    <div class="seleccion-talle">
                        <select>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
                </div>    
                <div class="buy">
                    <div class="price">
                        <span>$ 8.900</span>
                    </div>
                    <div class="boton">
                        <a href="">COMPRAR</a>
                    </div>
                </div>
            </div>
         </div>
        
    </main>

        <%- include ('../partials/footer') %>

</body>
</html>